.outer {
    width: 450px;
    height: 720px;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.all-customers {
    margin: 15px 0px 10px 12px;
    padding: 12px;
    font-size: 20px;
    width: 211px;
    height: 50px;
    background-color: rgb(187, 182, 182);
    color: white;
}

.new-customers {
    padding: 12px;
    font-size: 20px;
    width: 211px;
    height: 50px;
    margin-right: 10px;
    margin-top: 15px;
    color: grey;
}

.image-t {
    width: 100%;
    height: 40%;
}

.heading {
    text-align: center;
    color: gray;
    margin: 0%;
}

.terms {
    margin: 5px 10px 20px 20px;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    font-size: 18px;
    height: 52px;
    height: 50px;
}

.join {
    margin: 5px 20px 20px 10px;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
    background-color: rgb(117, 113, 113);
    color: white;
    font-size: 20px;
    height: 55px;
}

.Allcustomer {
    margin-right: 5%;
    margin-left: 5%;
}